* {
  box-sizing: border-box;
}

/* HEADER STYLES */
.header-content {
  margin: 0;
}

.top-header-content {
  background: rgb(221, 7, 7);
  width: 100vw;
;
  height: 9rem;
  border-bottom: 1px solid black;
}

h1 {
  font-family: 'Poiret One', cursive, 'Arial';
  font-size: 1.5rem;
  height: 3.5rem;
  text-align: center;
  padding-top: 1rem;
  margin-bottom: 1rem;
}


nav a {
  text-decoration: none;
  font-family: 'Space Mono', monospace;
  text-align: center;
  color: #000000;
  padding: .5rem 1rem;
  display: block;
}

.nav-menu {
  border: 1px solid hsla(0,0%,100%,.2);
  border-radius: 9999px;
}


.nav-menu:hover {
  color: #ffffff;
  background: #b2b1ae;
  transition: color .30s ease-in-out;
}

.nav-home:hover {
  color: #ffffff;
}

.profile-card-content {
  font-family: 'Inconsolata', monospace, 'Arial';
  font-size: 1.5rem;
   background: url('https://imgur.com/xovLHP8.jpg')  no-repeat 60% center/cover;
  background-size: cover;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.profile-card {
  background: orange;
  width: 450px;
  height: 15rem;
  max-width: calc(100vw - 10px);
  margin-bottom: 3rem;
  background-color: hsla(0, 0%, 100%);
  border-radius: 10px;
  box-shadow: hsla(0, 0%, 0%, .8) 5px 5px 10px;
}



.profile-image {
  height: 6rem;  
  width: 6rem;
  border-radius: 50%;
  margin-top: -30px;
  padding: 1px;
  background-color: #666;
}

.profile-image:hover {
  transform: scale(2.1);
  transition: all 0.5s ease-in-out;
}


/* MAIN MENU STYLES */

.main-menu {
  display: flex;
  text-align: center;
  justify-content: center;
  background: grey;
  width: 100vw;
}

.main-menu img {
  border-radius:9999px;
  padding: 1px;
  background-color: #c1c1c1;;
}

.menu-links {
  padding: 2rem;
  background: #f4f5f7;
  width: 50rem;
  border-radius: 5px;
}


.laptop-image, .skills-image, .contact-image {
  margin: 10px 30px;
  max-width: 8rem;
}

.laptop-image:hover, .skills-image:hover, .contact-image:hover {
   transform: scale(1.1);
}

.motto {
   display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Caveat', cursive, 'Arial';
  font-size: 4rem;
  background: grey;
  color: white;
  padding: 5rem;
  text-align: center;
}

/* PROJECT SECTION STYLES */

.projects-section {
  background: grey;
  width: 100vw;
  height: 100vh;
  padding: 0 2rem 0 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5% 60% 20% 10% 5%;
   grid-template-areas:
  "header"
  "p1"
  "p2"
  "p3"
  "github-button";
  grid-gap: 0.2%; 
  align-items: center;
}

.project-section-title {
  background: red;
  grid-area: header;
  width: 100%;
  height: 100%;
  font-family: 'Inconsolata', monospace, 'Arial';
  font-size: 1.5rem;
  text-align: center;
  border: black .5px solid;
  border-radius: 1000px;
  margin: 1.5rem 0 1.3rem;
}

.project-1 {
  grid-area: p1;
  width: 100%;
  height: 100%;
  border: black 1px solid;
  border-radius: 10px;
  background: white;
}

.project-2 {
  grid-area: p2;
  width: 100%;
  height: 100%;
  border: black 1px solid;
  border-radius: 10px;
  background: white;
}

.project-3 {
  grid-area: p3;
  width: 100%;
  height: 100%;
  border: black 1px solid;
  border-radius: 10px;
  background: white;
}

.projects-section span {
  grid-area: github-button;
  justify-self: center;
  font-family: 'Inconsolata', monospace, 'Arial';
  font-size: .8rem;
  margin-left: .5rem;
}

.projects-section a {
  text-decoration: none;
}

/*Skills section stlyes */
.skills-section {
  height: 100vh;
  background: pink;
}

@media (min-width: 445px) {

  .top-header-content {
    height: 5rem;
  }
  
  nav {
    position: fixed;
    margin-top: 0;
    right: 0;
    width: 20%;
  }
  
  h1 {
   font-size: 3rem;  
   font-family: 'Poiret One', cursive, 'Arial';
   float: left;
   padding: 0;
   margin-left: 1rem;
   margin-top: 0.5rem; 
  }
  
  .profile-card {
    height: 12rem;
    width: 20rem;
    margin-right: 3rem;
  }
  .main-menu {
    border-top: 1rem solid grey;
  }
}

   @media (min-width: 700px) {
    .profile-card {
    height: 12rem;
    margin-left: 3rem;
  }
      
  .projects-section {
  background: grey;  
  padding: 1rem 4rem 1rem .5rem;  
  display: grid;
  grid-template-columns: 5% 60% 35%;
  grid-template-rows: 50% 40% 8%;
  grid-gap: .5rem;
  grid-template-areas:
  "header p1 p2"
  "header p1 p3"
  "github-button github-button github-button";  
}

.project-section-title {
  grid-area: header;
  justify-self: center;
  align-self: center;
  text-align: center;
  height: 100%;
  width: 5vw;
  background: rgb(221, 7, 7);
  font-size: 2.5rem;
  writing-mode: vertical-lr; 
  transform: rotate(180deg);
  color: white;
}
     

.project-1 {
  grid-area: p1;
  height: 100%;
  width: 56vw;
  border: black 3px solid;
  border-radius: 30px;
}

  .project-1:hover {
    z-index: 1;  
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;    
   }     

.project-2 {
  grid-area: p2;
  height: 100%;
  width: 35vw;
  border:black 3px solid;
  border-radius: 30px;
} 
     
     
 .project-2:hover {
   width: 33vw;
   height: 120%;
   transform: scale(1.1);
   transition: all 0.5s ease-in-out;  
  }   
     
     

.project-3 {
  grid-area: p3;
  width: 35vw;
  height: 100%;
  width: 35vw;
  border:black 3px solid;
  border-radius: 30px;
}  
 
 .project-3:hover {
  width: 33vw;
  height: 120%;
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;   
  }     
     
 .projects-section span {
  font-size: 2rem; 
  grid-area: github-button;
  }   
     
   .fa-github-square:hover {
    transform: scale(1.5);   
   }  
    
}

   @media (min-width: 800px) {
    .profile-card {
    height: 12rem;
    margin-left: 6rem;
  }
    
}
    
    
    @media (min-width: 950px) {   
    .profile-card {
    height: 12rem;
    margin-left: 8rem;
  }  
}
      
    @media (min-width: 1124px) {
    .profile-card {
    height: 15rem;
    margin-left: 9rem;
  }           
}
  
