* {
  box-sizing: border-box;
}

/* HEADER STYLES */
/* NAVIGATION-BAR */
.top-header-content {
  background: rgb(242, 242, 242);
  width: 100vw;
  height: 9rem;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(219, 220, 221);
}

h1 {
  font-family: 'Poiret One', cursive, 'Arial';
  font-size: 1.5rem;
  height: 3.5rem;
  text-align: center;
  padding-top: 1rem;
  margin-bottom: 1rem;
}


nav a {
  text-decoration: none;
  font-family: 'Space Mono', monospace;
  text-align: center;
  color: #000000;
  padding: .5rem 1rem;
  display: block;
}

.nav-menu {
  border: 1px solid rgb(181, 56, 114);
  background: rgb(181, 56, 114, 0.2);
  border-radius: 9999px;
}

.nav-menu:hover {
  color: #ffff;
  background: rgb(181, 56, 114);
  transition: color .30s ease-in-out;
}

.nav-home:hover {
  color: #c62f6e;
}
/*---------------------HEADER-PROFILE CARD------------------------------*/
.profile-card-content {
  font-family: 'Inconsolata', monospace, 'Arial';
  font-size: 1.5rem;
  background: url('https://imgur.com/xovLHP8.jpg')  no-repeat 80% center/cover;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin-top: -100px;
}

.profile-card {
  width: 450px;
  height: 15rem;
  max-width: calc(100vw - 10px);
  margin-bottom: 3rem;
  background-color: hsla(0, 0%, 100%);
  border-radius: 10px;
  box-shadow: hsla(0, 0%, 0%, .8) 5px 5px 10px;
}

.profile-image {
  height: 6rem;  
  width: 6rem;
  border-radius: 50%;
  margin-top: -30px;
  padding: 1px;
  background-color: #666;
}

.profile-image:hover {
  transform: scale(2.1);
  transition: all 0.5s ease-in-out;
}

/* Background for main-menu, motto and projects-section */

.main-menu-motto-wrapper {
 background: url('https://imgur.com/NV8br63.jpg') no-repeat center/cover;
  width: 100vw;
}

/*-------------MAIN MENU STYLES-----------------*/

.main-menu {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100vw;
  margin-top: -150px;
}

.main-menu img {
  border-radius:9999px;
  padding: 1px;
  background-color: #c1c;
}

.menu-links {
  padding: 2rem;
  width: 100vw;
  border-radius: 5px;
}


.laptop-image, .skills-image, .contact-image {
  margin: 10px 30px;
  max-width: 8rem;
}

.laptop-image:hover, .skills-image:hover, .contact-image:hover {
   transform: scale(1.3);
}

.motto { 
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Special Elite', cursive, 'Arial';
  font-size: 2rem;
  color: white;
  padding: 5rem;
  text-align: center;
}

/*-----------------PROJECT SECTION STYLES-------------------*/

.projects-section {
  background: linear-gradient(#2d2c2c, #f7f2f2);
  width: 100vw;
  height: 100vh;
  padding: 0 2rem 0 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 200px 100px 100px 50px;
   grid-template-areas:
  "header"
  "p1"
  "p2"
  "p3"
  "github-button";
  grid-gap: 2vh;
  align-items: center;
}

.project-section-title {
  background: #f7e3ea;
  grid-area: header;
  width: 100%;
  height: 70%;
  font-family: 'Inconsolata', monospace, 'Arial';
  font-size: 1.5rem;
  text-align: center;
  border: black .5px solid;
  border-radius: 1000px;
  margin: 1.5rem 0 1.3rem;
}

.project-1 {
  grid-area: p1;
  width: 100%;
  height: 100%;
  border: black 1px solid;
  border-radius: 10px;
  background: white;
}

.project-2 {
  grid-area: p2;
  width: 100%;
  height: 100%;
  border: black 1px solid;
  border-radius: 10px;
  background: white;
}

.project-3 {
  grid-area: p3;
  width: 100%;
  height: 100%;
  border: black 1px solid;
  border-radius: 10px;
  background: white;
}

.projects-section span {
  grid-area: github-button;
  justify-self: center;
  font-family: 'Inconsolata', monospace, 'Arial';
  font-size: .8rem;
  margin-left: .5rem;
}

.projects-section a {
  text-decoration: none;
}

/*------------------Skills section stlyes-------------------*/

.skills-section {
  background: #f7f2f2;
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.core-skills, .learning-list, .other-interests-list {
 text-align: center;
}

.skills-section h2, h3 {
  font-family: 'Inconsolata', monospace, 'Arial';
}

.skills-section h2 {
  font-size: 1.5rem;
  text-decoration: underline;
  text-decoration-color: #df3272;
  text-align: center;
  margin-bottom: .5rem;
  margin-top: 2rem;
}

.skills-section h3 {
  text-align: left;
  text-decoration: underline solid pink;
  color: #a01042;
}

.skills-section li {
  background: white;
  display: grid;
  justify-items: center;
  line-height: 1.5rem;
}

.skills-section ul {
 margin-top: 2rem 0 1rem;
}

.skills-section li:hover {
  background: #f7e3ea;
}


.skills-section a {
  text-decoration: none;
  color: #8e91a5;
}


.fa-youtube {
  color: red;
}

/*--------------------CONTACT SECTION-----------------------*/

.contacts {
  background: rgb(95, 94, 107);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts ul {
 background: white;
 display: grid;
 grid-template-columns: 3rem 3rem 3rem 3rem;
 justify-items: center;
 align-items: center;
 font-size: 3rem;
 padding-left: 3rem;
  border: 1px solid;
  border-radius: 333px;
  margin-bottom: 2rem;
}




.contacts h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.contacts form {
  background: white;
  width: 20rem;
  margin: 1rem;
}



/*------------IDEAS FROM https://colorlib.com/wp/free-inquiry-form-templates/---------------------------------*/




input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input::-webkit-input-placeholder { color: #555555;}
input:-moz-placeholder { color: #555555;}
input::-moz-placeholder { color: #555555;}
input:-ms-input-placeholder { color: #555555;}

textarea::-webkit-input-placeholder { color: #555555;}
textarea:-moz-placeholder { color: #555555;}
textarea::-moz-placeholder { color: #555555;}
textarea:-ms-input-placeholder { color: #555555;}



/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}




/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

.contact-section {
  width: 100%;  
  min-height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: transparent;
  position: relative;
  z-index: 1;
}

.contact-section::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #42f4df, #f4416b);
  pointer-events: none;
}


.contact-wrap {
  width: 500px;
  background: #fff;
  border-radius: 2px;
  position: relative;
  margin-top: 55px;
  padding: 92px 70px 88px 70px;

  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}


.contact100-form-symbol {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px solid #e7e7e7;
  border-radius: 50%;
  background: #fff;
  top: -55px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.contact100-form-symbol img {
  max-width: 100px;
  border-radius: 50%;
}


/*==================================================================
[ Form ]*/

.contact100-form {
  width: 100%;
}

.contact100-form-title {
  width: 100%;
  display: block;
  font-family: OpenSans-Regular;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 43px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  margin-bottom: 30px;
}

.wrap-input100.rs1 {
  width: calc((100% - 0px));
}

/*---------------------------------------------*/
.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: OpenSans-Regular;
  color: #333333;
  line-height: 1.2;
}

input.input100 {
  height: 60px;
  padding: 0 20px 0 25px;
  font-size: 20px;
}

textarea.input100 {
  min-height: 199px;
  padding: 25px 20px 15px 25px;
  font-size: 15px;
}

/*------------------------------------------------------------------
[ Focus Input ]*/

.focus-input100 {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid #ff4b5a;
  border-radius: 2px;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  -webkit-transform: scaleX(1.1) scaleY(1.3);
  -moz-transform: scaleX(1.1) scaleY(1.3);
  -ms-transform: scaleX(1.1) scaleY(1.3);
  -o-transform: scaleX(1.1) scaleY(1.3);
  transform: scaleX(1.1) scaleY(1.3);
}

.input100:focus + .focus-input100 {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.eff-focus-selection {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}


/*------------------------------------------------------------------ */
.container-contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
}

.contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 150px;
  height: 62px;
  background-color: transparent;
  border-radius: 31px;

  font-family: Ubuntu-Bold;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}

.contact100-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 31px;
  background-color: #827ffe;
  pointer-events: none;
  
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn:hover:before {
  background-color: #403866;
  width: calc(100% + 20px);
}


/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 768px) {
  .wrap-input100.rs1 {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-contact100 {
    padding: 92px 15px 88px 15px;
  }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 5px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 12px;
  pointer-events: none;

  font-family: OpenSans-Regular;
  color: #c80000;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 18px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
  
  .input100 {
    width: 80vw;
  }
}


/* FOOTER STYLES */ 

.footer-wrapper {
  display: flex;
  justify-content: center; 
  align-items: center;
  background: grey;
  color: white;
  text-align: center;
  height: 50px;
}



@media (min-width: 445px) {

   .top-header-content {
    height: 4.5rem;
    width: 100vw;
  }
  
  nav {
    position: fixed;
    margin-top: 0;
    right: 0;
    width: 20%;
  }
  
  h1 {
   font-size: 3rem;  
   font-family: 'Poiret One', cursive, 'Arial';
   float: left;
   padding: 0;
   margin-left: 1rem;
   margin-top: 0.5rem; 
  }
  
  .profile-card {
    height: 12rem;
    width: 20rem;
    margin-right: 5rem;
  }
 

 .learning-list, .other-interests-list {
    min-width: 90vw;
 }
  
     .fa-github-square:hover, .fa-instagram:hover, .fa-linkedin:hover {
    transform: scale(1.2);   
   }  
  
}

   @media (min-width: 700px) {
    .profile-card {
    height: 12rem;
    margin-left: 3rem;
  }
     
  .projects-section {
  padding: 1rem 4rem 1rem .5rem;  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: .5rem;
  grid-template-areas:
  "header p1 p2"
  "header p1 p3"
  "github-button github-button github-button";  
}

.project-section-title {
  grid-area: header;
  justify-self: center;
  align-self: center;
  text-align: center;
  height: 80vh;;
  width: 2vw;
  background: rgb(181, 56, 114, 0.6);
  font-size: 1.5rem;
  writing-mode: vertical-lr; 
  transform: rotate(180deg);
  color: white;
}

     

.project-1 {
  grid-area: p1;
  height: 100%;
  width: 56vw;
}

 .project-1:hover {
    z-index: 1;  
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;    
   }     

.project-2 {
  grid-area: p2;
  height: 100%;
  width: 35vw;
} 
     
     
 .project-2:hover {
   height: 110%;
   transform: scale(1.1);
   transition: all 0.5s ease-in-out;  
  }   
     
     

.project-3 {
  grid-area: p3;
  width: 35vw;
  height: 100%;
  width: 35vw;
}  
 
 .project-3:hover {
  height: 110%;
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;   
  }     
     
 .projects-section span {
  font-size: 2rem; 
  grid-area: github-button;
  }   
    
}

   @media (min-width: 800px) {
    .profile-card {
    height: 12rem;
    margin-left: 6rem;
  }
    
}
    
    
    @media (min-width: 950px) {   
    .profile-card {
    height: 12rem;
    margin-left: 8rem;
  }  
}
      
    @media (min-width: 1124px) {
      
   .top-header-content {
    background: rgb(242, 242, 242);
  } 
      
      .profile-card-content {
        margin-bottom: 100px;
      }      
    
    .profile-card {
    height: 15rem;
    width: 30rem;
    margin-left: 10rem;
  }    

      
          
      .projects-section span {
        margin-left: 3rem;
      } 
      
    .skills-section {
      flex-direction: rows;
      flex-wrap: wrap;
      height: 40rem;
      padding-left: 10rem;
    }  
      
.learning-list, .other-interests-list {
     min-width: 20vw;
  }
      
   .learning-list h2, .other-interests-list h2 {
        margin-bottom: 1.5rem;
    }   
      
      .other-interests-list, .core-skills, .learning-list {
        margin-right: 10%;       
      }
      
      .learning-list {
        width: 30%;
      }
      
}
